In [5]:
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'

In [14]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_largest_banks"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)

tables = pd.read_html(response.text)
df = tables[0]

print(df)

    Rank                                Bank name  \
0      1  Industrial and Commercial Bank of China
1      2               Agricultural Bank of China
2      3                  China Construction Bank
3      4                            Bank of China
4      5                           JPMorgan Chase
..   ...                                      ...
95    96                                SEB Group
96    97                         Raiffeisen Group
97    98                           Banco Bradesco
98    99                                 VTB Bank
99   100                     First Abu Dhabi Bank

    Total assets (2025) (US$ billion)
0                             6688.74
1                             5923.76
2                             5558.38
3                             4803.51
4                             4002.81
..                                ...
95                             339.65
96                             337.25
97                             331.96
98                             330.43
99                             330.32

[100 rows x 3 columns]

C:\Users\Zakky\AppData\Local\Temp\ipykernel_3508\1448910994.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [15]:
URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

In [19]:
import pandas as pd
import requests

URL1 = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(URL1, headers=headers)

tables = pd.read_html(response.text)
df = tables[2]   # required table
print(df)

    Country/Territory IMF (2026)[citation needed] IMF (2025)[6]  \
0               World                   120728032     117165394
1       United States                    31821293      30615743
2          China[n 1]                    20650754      19398577
3             Germany                     5328184       5013574
4               India                     4519737       4125213
..                ...                         ...           ...
217          Kiribati                         289           321
218  Marshall Islands                         270           302
219             Nauru                         176           172
220        Montserrat                          80          —N/a
221            Tuvalu                          68            58

    World Bank (2024)[7]
0              111326370
1               29184890
2               18743803
3                4659929
4                3912686
..                   ...
217                  308
218                  280
219                  160
220                 —N/a
221                   62

[222 rows x 4 columns]

C:\Users\Zakky\AppData\Local\Temp\ipykernel_3508\3513501461.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)